/**
 * React Boot
 *
 */

const React = require('react');
const { StaticRouter } = require('react-router-dom');
const { renderToString } = require('react-dom/server');
const App = require('@client/App');

const renderReact = async (req, res) => {
  const context = {};
  const markup = renderToString(
    <StaticRouter context={context} location={req.url}>
      <App />
    </StaticRouter>
  );

  if (context.url) {
    return res.redirect(context.url);
  }
  const { assets: { client } } = req;
  const css = (client && client.css) ? `<link rel="stylesheet" href="${client.css}">` : '';
  const clientJs = process.env.NODE_ENV === 'production' ? `<script src="${client.js}" defer></script>` : `<script src="${client.js}" defer crossorigin></script>`;
  res.status(200);
  return res.send(
    `<!doctype html>
      <html lang="">
      <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8" />
        <title>Welcome to Razzle</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        ${css}
        ${clientJs}
      </head>
      <body>
          <div id="root">${markup}</div>
      </body>
    </html>`
  );
};

module.exports = renderReact;
